*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B1866;
    padding: 10px 200px;
    border-bottom: 1px solid #6806c9;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    color: white;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
}

nav> ul > li{
    margin: 10px 7px ;
    
}
nav> ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:20px;
    padding: 10px 20px;
    transition: .5s;
}
nav> ul > li > a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}

/* hero area code start hare */
header{
    background-image: url(img/website\ banner.jpg);
    /* height: 60vh; */
    padding: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.searchBox-icon-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 100%;
}
.searchBox-icon-parent i{
    color: red;
    background-color: green;
    font-size: 25px;
    /* padding: 5px; */
    height: 40px;
    width: 50px;
    /* line-height: 1.7;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
    cursor: pointer;
}
.searchBox-icon-parent input{
    width: 350px;
    height: 40px;
    padding-left:20px ;
    font-size: 18px;
    text-transform: capitalize;
}

 /* main section code start hare */

 main{
    background-color:#2D236A ;
    padding-top:20px ;
 }

 #main-section{
    width: 1300px;
    margin: 0 auto;
    padding: 50px;
 }

 .latest-video-parent{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
 }
 .latest-video-text{
    font-size: 25px ;
    color: #04aa6d;
    font-weight: bold;
 }
 .latest-pages{
    color: #04aa6d;
 }
 .latest-pages span{
    color: black;
    background-color: rgb(209, 201, 201);
    padding: 5px;
    border-radius: 4px;
    margin: 0 10px;
    border: 1px solid #8080805b;
    cursor: pointer;
 }